h1{
    text-align: center;
}

.sun_image{
    padding-left: 40%;
}

.main_div{
    display: flex;
    align-items: center;
}
.left-panel{
      align-items: center;
   
   height: 400px;
   width: 800px;
}
.left-panel iframe{
    width: 70%;
    height: 80%;
    display: flex;      
   justify-content: center;
   align-items: center;    
   padding: 10px;
}
.right-panel{
    align-items: center;
   height: 500px;
   width: 100px;
   display: flex;      
   justify-content: center;
   align-items: center;    
   padding: 10px;
}